body {
    font-family : Arial, sans-serif;
    background-color: blanchedalmond;
    color : black;
    text-align : center;
    margin-top : 50px;
}
h1{
    margin-top: 20px;
    text-decoration:underline;
}
#calculator {
    width: 60%;
    border:2px solid black;
    margin: 0 auto; 
    background-color: beige;
    height :700px;

}
table td {
    border:1px solid black;
}
button {
    width : 100%;
    height:95%;
    font-size: 40px;
    color: black;
    font-weight: 1000;
}
#display {
    background-color: bisque;
     margin-top : 20px ;
     width : 30% ;
     height : 50px; 
     font-size: 22px; 
     text-align: right ; 
    
     border-radius: 5px; 
     margin-bottom: 10px ; 
}
